body {
    background: #333;
    font-family: Arial;
}

.tip {
    width: 608px;
    height: 342px;
    border: 1px solid white;
    position: absolute;
    left: 40px;
    top: 40px;
}

.tip__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.play-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    background: #111;
    color: white;
    font-size: 34px;
}

.name {
    position: absolute;
    bottom: 0;
    left: 80px;
    height: 80px;
    background: #111;
    color: white;
}

.name__content, .play-button .icon {
    padding: 16px;
    display: block;
}

.tip__journey {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
}   
